- cache( @media ) do
	%article[@media]
		- if @media.show_title?
			.row
				.col-xs-12
					%h1
						= raw @media.title
		.row
			.col-xs-12
				= raw @media.content

	- @media.content_sections.each do |section|
		= render_section( section )
