
.container-fluid#flash-container{ style: ( flash.nil? || flash.empty? ? 'display:none' : nil ) }
	.row
		.col-xs-12.col-sm-10.col-sm-offset-1.animated.fadeInDown.delay-2#flash

			- unless flash.nil? || flash.empty?
				- flash.each do |key, value|
					- next if value.blank?
					.alert.alert-dismissable{ class: "alert-#{key}" }
						%button.close{ type: "button", 'aria-hidden' => true, data: { dismiss: "alert" } }
							&times;
						%span.alert-body
							= raw value
