#head-nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#head-nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.navbar-brand
				Admin
		.navbar-collapse.collapse#head-nav-collapse
			%ul.nav.navbar-nav.navbar-left
				- if defined?( Pulitzer ) && ( authorized?( Pulitzer::Article, controller: Pulitzer::ArticleAdminController, action: :index ) || authorized?( Pulitzer::Page, controller: Pulitzer::PageAdminController, action: :index ) )
					%li.dropdown
						%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
							Website
							%b.caret
						%ul.dropdown-menu
							- if authorized?( Pulitzer::Article, controller: Pulitzer::ArticleAdminController, action: :index )
								%li.dropdown.dropdown-submenu
									%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
										Blog
									%ul.dropdown-menu
										%li
											%a{ href: pulitzer.article_admin_index_path }
												%i.fa.fa-gear
												Admin
										- if authorized?( Pulitzer::Article, controller: Pulitzer::ArticleAdminController, action: :create )
											%li
												%a{ href: '#new_article', data: { toggle: :modal, target: '#new_article' } }
													%i.fa.fa-plus
													New
										%li.separator
										- Pulitzer::Article.draft.order( publish_at: :desc ).limit( 10 ).each do |article|
											%li
												%a{ href: pulitzer.edit_article_admin_path( article ) }
													= article.title

							- if authorized?( Pulitzer::Page, controller: Pulitzer::PageAdminController, action: :index )
								%li.dropdown.dropdown-submenu
									%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
										Pages
									%ul.dropdown-menu
										%li
											%a{ href: pulitzer.page_admin_index_path }
												%i.fa.fa-gear
												Admin
										- if authorized?( Pulitzer::Page, controller: Pulitzer::PageAdminController, action: :create )
											%li
												%a{ href: '#new_page', data: { toggle: :modal, target: '#new_page' } }
													%i.fa.fa-plus
													New
										%li.separator
										- Pulitzer::Page.order( publish_at: :desc ).limit( 10 ).each do |page|
											%li
												%a{ href: pulitzer.edit_page_admin_path( page ) }
													= page.title
				- if defined?( SwellId ) && authorized?( User, controller: SwellId::UserAdminController, action: :index )
					%li.dropdown
						%a.dropdown-toggle{ href: swell_id.user_admin_index_path() }
							Users

			%ul.nav.navbar-nav.navbar-right.user-nav
				%li.dropdown.profile-menu
					%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
						= current_user.avatar_tag( width: 24 )
						%span
							= current_user
						%b.caret
					%ul.dropdown-menu

						%li
							%a{ href: '/logout' }
								Logout
			%ul.nav.navbar-nav.not-nav
